#container {
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(244, 207, 213);
}

#Restaurang {
    position: absolute;
    left: 5%;
    top: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    background-color: rgb(247, 162, 190);
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 13%;
    font-size: 200%;
    border: 1px solid rgb(244, 153, 183);
    box-shadow: 5px 5px 5px 5px white;
}

.font1 {
    font-family: "Imperial Script", cursive;
    font-weight: 500;
    font-style: normal;
}

.font2 {
    font-family: "Imperial Script", cursive;
    font-weight: 600;
    font-style: normal;
}

#f, 
#v,
#e {
    border: 6px solid rgb(244, 153, 183);
    padding: 2%;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 3px 3px 3px 3px white;
    font-size: 80%;
    text-align: center;
    background-color: rgb(249, 233, 238);
}

footer {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid rgb(244, 153, 183);
    padding: 2%;
    text-align: center;
    background-color: rgb(244, 153, 183);
    font-size: small;
}

#hej {
    display: grid;
}

#drink {
    margin-top: 2%;
    justify-self: center;
}

#dryck {
    justify-self: center;
    margin-top: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#startsida {
    width: 10%;
    justify-self: center;
    text-align: center;
    margin-top: 4%;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: rgb(237, 121, 140);
    font-weight: bold;
    padding: 1%;
    border: 2px solid rgb(244, 207, 213);
    box-shadow: 3px 3px 3px 3px white;
}